hr {
  color: var(--text-light-secondary);
  opacity: 0.5;
}

#section-header {
  width: 100%;
  height: 64px;

  text-align: center;
  line-height: 64px;

  color: var(--text-light);
  background-color: var(--bg);

  p {
    font-size: 1.35rem;
    font-weight: bold;
  }
}

#ticket-header {
  width: 100%;
  height: 64px;
  padding: 15px;

  display: flex;
  align-items: center;
  justify-content: start;
  gap: 25px;

  .ticket-header-info-title {
    color: var(--text-gray);
  }

  img {
    height: 90%;
    width: auto;
  }
}

#security-header {
  width: 100%;
  height: 64px;
  padding: 5px;

  position: relative;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 25px;

  img {
    height: auto;
    width: 64px;
    position: absolute;
    left: 0;
    animation: 8s slider-animation ease-in-out infinite;
  }
}
@keyframes slider-animation {
  0% {
    left: 0;
  }
  50% {
    left: calc(100% - 64px);
  }
  100% {
    left: 0;
  }
}

#ticket-data-container {
  hr {
    margin: 15px 0 10px 0;
  }
}
#ticket-data-pic {
  width: auto;
  height: auto;
  max-height: 200px;
}
