@font-face {
  font-family: "DB Screen Sans Digital";
  src: url("https://db.onlinewebfonts.com/t/c7fb3c048c8214048961e7275273db9d.eot");
  src:
    url("https://db.onlinewebfonts.com/t/c7fb3c048c8214048961e7275273db9d.eot?#iefix")
      format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/c7fb3c048c8214048961e7275273db9d.woff2")
      format("woff2"),
    url("https://db.onlinewebfonts.com/t/c7fb3c048c8214048961e7275273db9d.woff")
      format("woff"),
    url("https://db.onlinewebfonts.com/t/c7fb3c048c8214048961e7275273db9d.ttf")
      format("truetype"),
    url("https://db.onlinewebfonts.com/t/c7fb3c048c8214048961e7275273db9d.svg#DB Screen Sans Digital")
      format("svg");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --bg: #2b2d37;
  --bg-white: #fffeff;

  --text: #040305;
  --text-gray: #666873;
  --text-light: #f1f3f6;
  --text-light-secondary: #898b95;
}

html,
body,
main {
  width: 100vw;
  height: 100vh;

  font-family: "DB Screen Sans Digital";

  background-color: var(--bg);
  color: var(--text);

  overflow: hidden;
}

main {
  display: flex;
  flex-direction: column;
}
hr {
  color: var(--text-light-secondary);
  opacity: 0.5;
}

section {
  width: 100%;
  flex-grow: 1;
  background-color: var(--bg-white);
  padding: 10px 30px 0 30px;

  overflow: scroll;

  hr {
    margin: 5px 0 5px 0;
  }
}

img {
  user-select: none;
  -webkit-user-drag: none;
}

nav {
  display: flex;
  width: 100%;
  height: 5rem;
  padding: 10px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  a {
    width: 64px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--text-light-secondary);
    text-decoration: none;

    &.active {
      color: var(--text-light);
    }
    svg {
      width: 40%;

      height: auto;
      color: inherit;
    }
    p {
      font-size: 0.75rem;
      color: inherit;
    }
  }
}
