@import "normalize";
@import "theme";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
main {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

main {
    /* Has to be flex because section takes up remaining space */
    display: flex;
    flex-direction: column;
}
#top-spacer {
    width: 100%;
    height: 4.5rem;

    background-color: var(--bg-white);
}
header {
    width: 100%;
    height: 4.5rem;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-light);
    background: rgba(255, 255, 255, 0.5);
    overflow: hidden;
    backdrop-filter: blur(5px);
    z-index: 10;
    h1 {
        color: var(--text);
        background-color: unset;
    }
}
section {
    width: 100%;
    flex-grow: 1;
    padding: 0px 30px 0 30px;
    background-color: var(--bg-white);
    overflow: scroll;
}

#ticket {
    &-header {
        width: 100%;
        height: 4rem;
        padding: 15px;
        gap: 25px;
        display: flex;
        align-items: center;
        justify-content: start;
        &-info {
            display: flex;
            flex-direction: column;
            gap: 5px;
            &-title {
                color: var(--text-gray);
            }
            &-date {
                font-weight: lighter;
            }
        }

        &-logo {
            height: 95%;
            width: auto;
        }
    }

    &-ping-pong {
        width: 100%;
        height: 3rem;

        position: relative;
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 25px;

        &-logo {
            height: calc(100% - 15px);
            position: absolute;
            left: 0;
            animation: 8s slider-animation ease-in-out infinite;
        }
        @keyframes slider-animation {
            0% {
                left: 0;
            }
            50% {
                left: calc(100% - 64px);
            }
            100% {
                left: 0;
            }
        }
    }

    &-data {
        p {
            margin-top: 2px;
            margin-bottom: 2px;
        }
        &-barcode {
            width: 100%;
            max-width: 650px;
            height: auto;
            cursor: pointer;
        }
        hr {
            margin: 15px 0 10px 0;
        }
        &-id {
            width: auto;
            height: auto;
            max-height: 200px;
        }
    }
}

#profile {
    &-data {
        input[type="text"] {
            width: 100%;
            height: 4rem;

            border-style: solid;
            border-color: var(--text-gray);
            border-width: 1.5px;
            border-radius: 5px;
            padding: 10px;
            &:focus {
                border-color: var(--red);
            }
        }

        input[type="button"] {
            width: 300px;
            height: 100px;

            border-style: solid;
            border-color: var(--text-gray);
            border-width: 1.5px;
            border-radius: 5px;
            padding: 10px;
            cursor: pointer;
            &:focus {
                border-color: var(--red);
            }
        }
    }
}

nav {
    z-index: 10;
    display: flex;
    border-radius: 100px;
    position: absolute;
    left: 10%;
    right: 10%;
    bottom: 10;
    background-color: var(--bg);
    width: 80%;
    height: 4.5rem;
    padding: 10px;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0px 35px 38px 1px rgba(0, 0, 0, 0.23);

    cursor: pointer;

    a {
        width: 64px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: var(--text-light-secondary);
        text-decoration: none;

        &.active {
            color: var(--text);
        }
        svg {
            height: 60%;

            color: inherit;
            width: auto;
        }
        p {
            color: inherit;
            font-size: 0.75rem;
        }
    }
}

#bottom-spacer {
    height: 6rem;
    width: 100%;
}

img {
    user-select: none;
    -webkit-user-drag: none;
}
h1 {
    margin: 0;
    padding: 0;

    font-size: 1.2rem;
    font-weight: bold;
}
h2 {
    margin: 0;
    padding: 0;

    font-size: 1.05rem;
    font-weight: bold;
}
hr {
    color: var(--text-light-secondary);
    opacity: 0.5;
}
.mini {
    font-size: 0.9rem;
    font-weight: bold;
}
